@charset "utf-8";
/* CSS Document */

/* reset agent stylesheet spacing */
* {
  margin: 0;
  padding: 0;
}


body,td,th,p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    color: #333;
    line-height: 1.5;
}
body {
    background-color: #fdfdfd;
    margin: 0;
    position:relative;
}
ul, li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    color: #333;
}
a {
    color: white;
    text-decoration: none;
}
a:hover, a:focus {
    color: #3397db;
    text-decoration: none;
}
a img{
    border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 80px;
  text-align:center;
}
nav h1 {
  margin: auto;
  color: white;
  font-size: 16pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}

header nav {
    background-color: #8A0082;
    display: inline-block;
}

.site-header {
    padding: 10px;
    display: inline-block;
    vertical-align: middle;
}

#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    /*width: calc(50% - 80px);*/
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  /*height: 50px;*/
  background-color: #8A0082;
  align-items: center;
  /*padding: 10px;*/
  display: flex;
  flex-wrap: wrap;
}

.filter label {
    color: white;
}

.filter {
    margin: 5px;
}

#filter-header {
  color: #8A0082;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  padding: 5px 0;
  margin: 10px 20px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 2px 0;
  padding: 0 10px;
  /*width: 200px;*/
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  /*margin: 0;*/
  /*padding: 30px 15px 60px;*/
  text-align: center;

  /*flexbox properties*/
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 15px;
  min-height: 380px;
  padding: 0 30px 25px;
  text-align: left;
  width: 270px;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-height: 248px;
  min-width: 100%;
}
#restaurants-list li h1 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
#restaurants-list li a {
  background-color: #8A0082;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
#restaurant-name {
  color: #8A0082;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
    width: 100%;
}
#restaurant-address {
  font-size: 14pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 14pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
    /*width: 90%;*/
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 10px;
  /*width: 50%;*/
  /*text-align: center;*/
}
#reviews-container {
  padding: 30px 40px 80px;
}
#reviews-container h2 {
  color: #8A0082;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
#reviews-list li {
    background-color: #fff;
    border: 2px solid #f3f3f3;
    display: block;
    list-style-type: none;
    margin: 0 0 30px;
    overflow: hidden;
    padding: 0 20px 20px;
    position: relative;
}
#reviews-list li p {
  margin: 0 0 10px;
}
#restaurant-hours td {
  color: #666;
}



#maincontent {
    background-color: #f3f3f3;
    display: flex;
    flex-wrap: wrap;
}

#footer {
  background-color: #444;
  color: #EBEBEB;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}

#restaurant-container {
    height: 100%;
    width: 100%;
}

#map-container {
    width: 100%;
    padding: 10px;
}

#reviews-container {
    width: 100%;
}

/* mobile */
@media only screen and (max-width: 600px) {
    .inside #map-container {
        height: 50vh;
    }

    #reviews-list li {
        width: 100%;
    }
}

@media only screen
and (min-width: 600px) and (max-width: 992px) {
    .inside #map-container {
        height: 50vh;
    }

    #reviews-list li {
        width: 100%;
    }

    #restaurant-container td {
        font-size: 13px;
    }

    #reviews-container li p {
        font-size: 13pt;
    }
}

@media only screen
and (min-width: 992px) {
    .inside #map-container {
        width: calc(50% - 20px);
    }

    .inside #restaurant-container {
        width: calc(50% - 20px);
    }

    #restaurant-container td {
        font-size: 14px;
    }

    #reviews-list li {
        width: 290px;
    }

    #reviews-container li p {
        font-size: 14pt;
    }
}

#map {
  height: 40vmin;
  width: 100%;
  background-color: #ccc;
}

.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
  /*padding: 10px;*/
  /*margin: 5px;*/
}

/* Reviews and comments */
.form-section {
    display: block;
    margin: 10px 20px;
    font-size: 14pt;
}

#review-form {
    background-color: white;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

#review-form h2 {
    margin-left: 20px;
}

input[type=text] {
    width: 100%;
    box-sizing: border-box; /*to account for padding*/
    /*height: 50px;*/
    font-size: 14pt;
    padding: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: #8A0082;
}

textarea {
    width: 100%;
    box-sizing: border-box; /*to account for padding*/
    font-size: 14pt;
    padding: 4px;
    border-style: solid;
    border-color: #8A0082;
}

#review-submit {
    padding: 4px;
    background-color: #8A0082;
    border-radius: 2px;
    color: white;
    font-size: 14pt;
}

/*start rating implementation from http://code.iamkate.com/html-and-css/star-rating-widget/*/
.starRating:not(old){
  display        : inline-block;
  width          : 7.5em;
  height         : 1.5em;
  overflow       : hidden;
  vertical-align : bottom;
}

.starRating:not(old) > input{
  margin-right : -100%;
  opacity      : 0;
}

.starRating:not(old) > label{
  display         : block;
  float           : right;
  position        : relative;
  background      : url('star-off.svg');
  background-size : contain;
}

.starRating:not(old) > label:before{
  content         : '';
  display         : block;
  width           : 1.5em;
  height          : 1.5em;
  background      : url('star-on.svg');
  background-size : contain;
  opacity         : 0;
  transition      : opacity 0.2s linear;
}

.starRating:not(old) > label:hover:before,
.starRating:not(old) > label:hover ~ label:before,
.starRating:not(:hover) > :checked ~ label:before{
  opacity : 1;
}
/* end of start rating implementation*/



/*----- css for the toggle button ----*/

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #8A1882;
}

input:focus + .slider {
  box-shadow: 0 0 1px #8A1882;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/*end of css*/


/*=====*/
.leaflet-control a {
    color: #080808 !important;
}